@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #f3c649 !important;
}
.bg-info {
  background-color: #90a878 !important;
}
.bg-warning {
  background-color: #b8312f !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-success {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-warning {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-danger {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-success-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-success {
  color: #f3c649 !important;
}
.text-info {
  color: #90a878 !important;
}
.text-warning {
  color: #b8312f !important;
}
.text-danger {
  color: #000000 !important;
}
.alert-success {
  background-color: #f3c649;
}
.alert-info {
  background-color: #90a878;
}
.alert-warning {
  background-color: #b8312f;
}
.alert-danger {
  background-color: #000000;
}
.btn-social {
  border-color: #ffffff;
}
.btn-social:hover {
  background: #ffffff;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffffff;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffffff;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.lead a,
.lead a:hover {
  color: #ffffff;
}
.lead blockquote {
  border-color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e08886;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header1-2k .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#header1-2k .mbr-section-lead {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
#header6-2m .mbr-section-title {
  color: #ffffff;
}
#header6-2m .mbr-section-text {
  color: #565656;
}
#header3-2o .mbr-section-title,
#header3-2o .mbr-section-subtitle {
  text-align: center;
}
#header3-2o H3 {
  color: #ffffff;
}
#social-buttons4-3m .mbr-section-title,
#social-buttons4-3m .btn-social {
  color: #fff;
}
#ext_menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2 .navbar-caption {
  color: #ffffff;
}
#ext_menu-2 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2 .close-icon::before,
#ext_menu-2 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2 .link,
#ext_menu-2 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-2 .link {
  font-size: 0.75rem;
}
#ext_menu-2 .dropdown-item,
#ext_menu-2 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2 .link:hover,
#ext_menu-2 .dropdown-item:hover,
#ext_menu-2 .link:focus,
#ext_menu-2 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-2 .link[aria-expanded="true"],
#ext_menu-2 .dropdown-menu {
  background: #000000;
}
#ext_menu-2 .nav-dropdown-sm .link:focus,
#ext_menu-2 .nav-dropdown-sm .link:hover,
#ext_menu-2 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-2 .navbar,
#ext_menu-2 .nav-dropdown-sm,
#ext_menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-2 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2 .bg-color.transparent.opened .link:hover,
#ext_menu-2 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-2 .link[aria-expanded="true"],
#ext_menu-2 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}

#ext_menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-k .navbar-caption {
  color: #ffffff;
}
#ext_menu-k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-k .close-icon::before,
#ext_menu-k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-k .link,
#ext_menu-k .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-k .link {
  font-size: 0.75rem;
}
#ext_menu-k .dropdown-item,
#ext_menu-k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-k .link:hover,
#ext_menu-k .dropdown-item:hover,
#ext_menu-k .link:focus,
#ext_menu-k .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-menu {
  background: #000000;
}
#ext_menu-k .nav-dropdown-sm .link:focus,
#ext_menu-k .nav-dropdown-sm .link:hover,
#ext_menu-k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-k .navbar,
#ext_menu-k .nav-dropdown-sm,
#ext_menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-k .bg-color.transparent.opened .link:hover,
#ext_menu-k .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header3-1o .mbr-section-title,
#header3-1o .mbr-section-subtitle {
  text-align: center;
}
#header3-1o H3 {
  color: #ffffff;
}

#header3-1n .mbr-section-title,
#header3-1n .mbr-section-subtitle {
  text-align: center;
}
#header3-1n H3 {
  color: #ffffff;
}
#ext_menu-h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-h .navbar-caption {
  color: #ffffff;
}
#ext_menu-h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-h .close-icon::before,
#ext_menu-h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-h .link,
#ext_menu-h .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-h .link {
  font-size: 0.75rem;
}
#ext_menu-h .dropdown-item,
#ext_menu-h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-h .link:hover,
#ext_menu-h .dropdown-item:hover,
#ext_menu-h .link:focus,
#ext_menu-h .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-menu {
  background: #000000;
}
#ext_menu-h .nav-dropdown-sm .link:focus,
#ext_menu-h .nav-dropdown-sm .link:hover,
#ext_menu-h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-h .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-h .navbar,
#ext_menu-h .nav-dropdown-sm,
#ext_menu-h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-h .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-h .bg-color.transparent.opened .link:hover,
#ext_menu-h .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}

#ext_menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-k .navbar-caption {
  color: #ffffff;
}
#ext_menu-k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-k .close-icon::before,
#ext_menu-k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-k .link,
#ext_menu-k .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-k .link {
  font-size: 0.75rem;
}
#ext_menu-k .dropdown-item,
#ext_menu-k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-k .link:hover,
#ext_menu-k .dropdown-item:hover,
#ext_menu-k .link:focus,
#ext_menu-k .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-menu {
  background: #000000;
}
#ext_menu-k .nav-dropdown-sm .link:focus,
#ext_menu-k .nav-dropdown-sm .link:hover,
#ext_menu-k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-k .navbar,
#ext_menu-k .nav-dropdown-sm,
#ext_menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-k .bg-color.transparent.opened .link:hover,
#ext_menu-k .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header3-1p .mbr-section-title,
#header3-1p .mbr-section-subtitle {
  text-align: center;
}
#header3-1p H3 {
  color: #ffffff;
}

#ext_menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-y .navbar-caption {
  color: #ffffff;
}
#ext_menu-y .navbar-toggler {
  color: #ffffff;
}
#ext_menu-y .close-icon::before,
#ext_menu-y .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-y .link,
#ext_menu-y .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-y .link {
  font-size: 0.75rem;
}
#ext_menu-y .dropdown-item,
#ext_menu-y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-y .link:hover,
#ext_menu-y .dropdown-item:hover,
#ext_menu-y .link:focus,
#ext_menu-y .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-y .link[aria-expanded="true"],
#ext_menu-y .dropdown-menu {
  background: #000000;
}
#ext_menu-y .nav-dropdown-sm .link:focus,
#ext_menu-y .nav-dropdown-sm .link:hover,
#ext_menu-y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-y .navbar,
#ext_menu-y .nav-dropdown-sm,
#ext_menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-y .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-y .bg-color.transparent.opened .link:hover,
#ext_menu-y .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-y .link[aria-expanded="true"],
#ext_menu-y .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header3-1q .mbr-section-title,
#header3-1q .mbr-section-subtitle {
  text-align: center;
}
#header3-1q H3 {
  color: #ffffff;
}

#ext_menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-10 .navbar-caption {
  color: #ffffff;
}
#ext_menu-10 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-10 .close-icon::before,
#ext_menu-10 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-10 .link,
#ext_menu-10 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-10 .link {
  font-size: 0.75rem;
}
#ext_menu-10 .dropdown-item,
#ext_menu-10 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-10 .link:hover,
#ext_menu-10 .dropdown-item:hover,
#ext_menu-10 .link:focus,
#ext_menu-10 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-menu {
  background: #000000;
}
#ext_menu-10 .nav-dropdown-sm .link:focus,
#ext_menu-10 .nav-dropdown-sm .link:hover,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-10 .navbar,
#ext_menu-10 .nav-dropdown-sm,
#ext_menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-10 .bg-color.transparent.opened .link:hover,
#ext_menu-10 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header3-1r .mbr-section-title,
#header3-1r .mbr-section-subtitle {
  text-align: center;
}
#header3-1r H3 {
  color: #ffffff;
}

#ext_menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-12 .navbar-caption {
  color: #ffffff;
}
#ext_menu-12 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-12 .close-icon::before,
#ext_menu-12 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-12 .link,
#ext_menu-12 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-12 .link {
  font-size: 0.75rem;
}
#ext_menu-12 .dropdown-item,
#ext_menu-12 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-12 .link:hover,
#ext_menu-12 .dropdown-item:hover,
#ext_menu-12 .link:focus,
#ext_menu-12 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-12 .link[aria-expanded="true"],
#ext_menu-12 .dropdown-menu {
  background: #000000;
}
#ext_menu-12 .nav-dropdown-sm .link:focus,
#ext_menu-12 .nav-dropdown-sm .link:hover,
#ext_menu-12 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-12 .navbar,
#ext_menu-12 .nav-dropdown-sm,
#ext_menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-12 .bg-color.transparent.opened .link:hover,
#ext_menu-12 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-12 .link[aria-expanded="true"],
#ext_menu-12 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header3-1s .mbr-section-title,
#header3-1s .mbr-section-subtitle {
  text-align: center;
}
#header3-1s H3 {
  color: #ffffff;
}

#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #000000;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#testimonials1-17 .mbr-section-title {
  color: #ffffff;
}
#testimonials1-17 .card-footer > div {
  color: #ffffff;
}

#ext_menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-20 .navbar-caption {
  color: #ffffff;
}
#ext_menu-20 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-20 .close-icon::before,
#ext_menu-20 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-20 .link,
#ext_menu-20 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-20 .link {
  font-size: 0.75rem;
}
#ext_menu-20 .dropdown-item,
#ext_menu-20 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-20 .link:hover,
#ext_menu-20 .dropdown-item:hover,
#ext_menu-20 .link:focus,
#ext_menu-20 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-20 .link[aria-expanded="true"],
#ext_menu-20 .dropdown-menu {
  background: #000000;
}
#ext_menu-20 .nav-dropdown-sm .link:focus,
#ext_menu-20 .nav-dropdown-sm .link:hover,
#ext_menu-20 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-20 .navbar,
#ext_menu-20 .nav-dropdown-sm,
#ext_menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-20 .bg-color.transparent.opened .link:hover,
#ext_menu-20 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-20 .link[aria-expanded="true"],
#ext_menu-20 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header3-22 .mbr-section-title,
#header3-22 .mbr-section-subtitle {
  text-align: center;
}
#header3-22 H3 {
  color: #ffffff;
}
#msg-box2-23 .mbr-section-title {
  color: #fff;
}
#msg-box2-23 .mbr-section-subtitle {
  color: #a0a0a0;
}

#header3-3c .mbr-section-title,
#header3-3c .mbr-section-subtitle {
  text-align: center;
}
#header3-3c H3 {
  color: #ffffff;
}
#msg-box5-3f P {
  color: #ffffff;
}
#ext_menu-2q .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2q .navbar-caption {
  color: #ffffff;
}
#ext_menu-2q .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2q .close-icon::before,
#ext_menu-2q .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2q .link,
#ext_menu-2q .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-2q .link {
  font-size: 0.75rem;
}
#ext_menu-2q .dropdown-item,
#ext_menu-2q .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2q .link:hover,
#ext_menu-2q .dropdown-item:hover,
#ext_menu-2q .link:focus,
#ext_menu-2q .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-2q .link[aria-expanded="true"],
#ext_menu-2q .dropdown-menu {
  background: #000000;
}
#ext_menu-2q .nav-dropdown-sm .link:focus,
#ext_menu-2q .nav-dropdown-sm .link:hover,
#ext_menu-2q .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2q .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-2q .navbar,
#ext_menu-2q .nav-dropdown-sm,
#ext_menu-2q .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2q .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-2q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2q .bg-color.transparent.opened .link:hover,
#ext_menu-2q .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-2q .link[aria-expanded="true"],
#ext_menu-2q .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}

#header3-39 .mbr-section-title,
#header3-39 .mbr-section-subtitle {
  text-align: center;
}
#header3-39 H3 {
  color: #ffffff;
}
#ext_menu-36 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-36 .navbar-caption {
  color: #ffffff;
}
#ext_menu-36 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-36 .close-icon::before,
#ext_menu-36 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-36 .link,
#ext_menu-36 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-36 .link {
  font-size: 0.75rem;
}
#ext_menu-36 .dropdown-item,
#ext_menu-36 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-36 .link:hover,
#ext_menu-36 .dropdown-item:hover,
#ext_menu-36 .link:focus,
#ext_menu-36 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-36 .link[aria-expanded="true"],
#ext_menu-36 .dropdown-menu {
  background: #000000;
}
#ext_menu-36 .nav-dropdown-sm .link:focus,
#ext_menu-36 .nav-dropdown-sm .link:hover,
#ext_menu-36 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-36 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-36 .navbar,
#ext_menu-36 .nav-dropdown-sm,
#ext_menu-36 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-36 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-36 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-36 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-36 .bg-color.transparent.opened .link:hover,
#ext_menu-36 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-36 .link[aria-expanded="true"],
#ext_menu-36 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
